<%- include("partials/header.ejs") %>

<section class="hero">
    <div class="hero-box1">
        <div class="hero-content">
            <h1>Welcome to Skill<span style="color: #6528F7;">Mela!</span></h1>
            <p>Where your project meets excellence. Connect with top talent and elevate your vision today!</p>
            <div class="hero-btn">
                
            </div>
        </div>
        
        <div class="hero-image">
            <!-- <img src="/images/home-land.webp" alt="" style="height: 500px; width: 600px;"> -->
            <div class="grid-box">
                <a href="/freelancing" class="notification-link">
                    <div class="notification notification1">
                        <div class="notiglow"></div>
                        <div class="notiborderglow"></div>
                        <div class="notititle">Freelancing</div>
                        <div class="notibody">Earn and grow.</div>
                    </div>
                </a>
                <a href="/mentorship" class="notification-link">
                    <div class="notification notification2">
                        <div class="notiglow"></div>
                        <div class="notiborderglow"></div>
                        <div class="notititle">Mentorship</div>
                        <div class="notibody">Guidance from Top Mentors</div>
                    </div>
                </a>
                <a href="/learn" class="notification-link">
                    <div class="notification notification3">
                        <div class="notiglow"></div>
                        <div class="notiborderglow"></div>
                        <div class="notititle">Learn</div>
                        <div class="notibody">Expand your Knowledge Base.</div>
                    </div>
                </a>
                <a href="/practice" class="notification-link">
                    <div class="notification notification4">
                        <div class="notiglow"></div>
                        <div class="notiborderglow"></div>
                        <div class="notititle">Practice</div>
                        <div class="notibody">Refine your Skills</div>
                    </div>
                </a>
                <a href="/compete" class="notification-link">
                    <div class="notification notification5">
                        <div class="notiglow"></div>
                        <div class="notiborderglow"></div>
                        <div class="notititle">Compete</div>
                        <div class="notibody">Battle for Excellence</div>
                    </div>
                </a>
                <a href="/social" class="notification-link">
                    <div class="notification notification6">
                        <div class="notiglow"></div>
                        <div class="notiborderglow"></div>
                        <div class="notititle">Social</div>
                        <div class="notibody">See Posts and Updates of others.</div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</section>

<section class="home-freelancing-section">
    <div class="hero-box2">
        <div class="hero-image">
            <div class="home-learn-ment-image">
                <a href="/freelancing">
                    <img src="/images/freelancing.png" alt="">
                </a>
            </div>
        </div>
        <div class="hero-content">
            <h1><span style="color: #6528F7;">"Freelance </span>or Find Freelancers-All in One Place"</h1>
            <p>Freelance with Freedom or Hire with Confidence</p>
            <div class="hero-btn">
                <a href="/freelancing" class="btn">Get Started</a>
            </div>
        </div>
    </div>    

</section>

<section class="learn-ment-section">
    <div class="learn-ment">
        <div class="home-learn-ment">
            <div class="home-learn-ment-text">
                <h1><span style="color: #6528F7;">Learn</span> & Level up your Skills!</h1>
                <br>
                <p>Select from a wide range of courses to upskill and advance your career!</p>
            </div>
            <div class="home-learn-ment-image">
                <a href="/learn">
                    <img src="/images/learn-home.webp" alt="">
                </a>
            </div>
            <div class="home-learn-ment-btn">
                <a href="/learn">Explore now <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="home-learn-ment">
            <div class="home-learn-ment-text">
                <h1><span style="color: #6528F7;">Personalised</span> Mentor Support!</h1>
                <br>
                <p>Select a mentor from a pool of 2000+ industry experts & get 1-on-1 mentorship!</p>
            </div>
            <div class="home-learn-ment-image">
                <a href="/mentorship">
                    <img src="/images/mentor-home.jpg" alt="">
                </a>
            </div>
            <div class="home-learn-ment-btn">
                <a href="/mentorship">Explore now <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer.ejs") %>