<%- include("partials/header.ejs") %>

<section class="learn-hero">
    <div class="learn-hero-box">
        <div class="learn-hero-content">
            <h1>Unlock <span style="color: #6528F7;">Knowledge</span></h1>
            <p> From tech to non-tech select from a wide rang of course to upskill and advance your career!</p>
            <!-- <div class="hero-btn">
                <a href="/create" class="btn">Software Tools</a>
                <a href="/read" class="btn">Mentor Match</a>
                <a href="/read" class="btn">Become a mentor</a>
            </div> -->
        </div>
        <div class="learn-hero-box-img">
            <img src="images/learn.png" alt="img">
        </div>
    </div>
</section>

<section>
    <div class="courses">
        <div class="top-course-text">
            <h1>Software Tools</h1>
            <p>Start or switch your career by upskilling with job-ready skills.</p>
        </div>
        <div class="grid-container-courses">
                <!-- 1st -->
            <div class="card-courses">
                <img alt="" height="150" src="images/AIML.jpeg" width="300"/>
                <div class="content">
                 <div class="lessons">
                  <i class="fas fa-clock">
                  </i>
                  <span>
                   13x Lessons
                  </span>
                 </div>
                 <h3>
                  AI/ML
                 </h3>
                 <p>
                  In this course you will learn from basics to advance of Machine Learning and Artificial...
                 </p>
                </div>
                <div class="card-footer-courses">
                 <a href="#">
                  View Course
                 </a>
                </div>
            </div>
               <!-- 2nd -->
            <div class="card-courses">
                <img alt="" height="150" src="images/dsa.jpg" width="300"/>
                <div class="content">
                 <div class="lessons">
                  <i class="fas fa-clock">
                  </i>
                  <span>
                   13x Lessons
                  </span>
                 </div>
                 <h3>
                  DSA
                 </h3>
                 <p>
                  In this course you will learn from basics to advance of Data structure and Argolitham...
                 </p>
                </div>
                <div class="card-footer-courses">
                 <a href="#">
                  View Course
                 </a>
                </div>
            </div>
               <!-- 3rd -->
            <div class="card-courses">
                <img alt="" height="150" src="images/c++.png" width="300"/>
                <div class="content">
                 <div class="lessons">
                  <i class="fas fa-clock">
                  </i>
                  <span>
                   13x Lessons
                  </span>
                 </div>
                 <h3>
                  C++
                 </h3>
                 <p>
                  In this course you will learn from basics to advance of C++ language...
                 </p>
                </div>
                <div class="card-footer-courses">
                 <a href="#">
                  View Course
                 </a>
                </div>
            </div>
               <!-- 4th -->
            <div class="card-courses">
                <img alt="" height="150" src="images/java.jpeg" width="300"/>
                <div class="content">
                 <div class="lessons">
                  <i class="fas fa-clock">
                  </i>
                  <span>
                   13x Lessons
                  </span>
                 </div>
                 <h3>
                  JAVA
                 </h3>
                 <p>
                  In this course you will learn from basics to advance of java oops ...
                 </p>
                </div>
                <div class="card-footer-courses">
                 <a href="#">
                  View Course
                 </a>
                </div>
            </div>
               <!-- 5th -->
            <div class="card-courses">
                <img alt="" height="150" src="images/python.png" width="300"/>
                <div class="content">
                 <div class="lessons">
                  <i class="fas fa-clock">
                  </i>
                  <span>
                   13x Lessons
                  </span>
                 </div>
                 <h3>
                  Python
                 </h3>
                 <p>
                  In this course you will learn from basics to advance of paython...
                 </p>
                </div>
                <div class="card-footer-courses">
                 <a href="#">
                  View Course
                 </a>
                </div>
            </div>
               <!-- 6th -->
            <div class="card-courses">
                <img alt="" height="150" src="images/WEb.jpeg" width="300"/>
                <div class="content">
                 <div class="lessons">
                  <i class="fas fa-clock">
                  </i>
                  <span>
                   13x Lessons
                  </span>
                 </div>
                 <h3>
                  Web Development
                 </h3>
                 <p>
                  In this course you will learn from basics to advance of web Development...
                 </p>
                </div>
                <div class="card-footer-courses">
                 <a href="#">
                  View Course
                 </a>
                </div>
            </div>
               <!-- 7th -->
            <div class="card-courses">
                <img alt="" height="150" src="images/android.jpeg" width="300"/>
                <div class="content">
                 <div class="lessons">
                  <i class="fas fa-clock">
                  </i>
                  <span>
                   13x Lessons
                  </span>
                 </div>
                 <h3>
                  Android Development
                 </h3>
                 <p>
                  In this course you will learn from basics to advance of Android Development...
                 </p>
                </div>
                <div class="card-footer-courses">
                 <a href="#">
                  View Course
                 </a>
                </div>
            </div>
               <!-- 8th -->
            <div class="card-courses">
                <img alt="" height="150" src="images/dbms.png" width="300"/>
                <div class="content">
                 <div class="lessons">
                  <i class="fas fa-clock">
                  </i>
                  <span>
                   13x Lessons
                  </span>
                 </div>
                 <h3>
                  DBMS
                 </h3>
                 <p>
                  In this course you will learn from basics to advance of database management system....
                 </p>
                </div>
                <div class="card-footer-courses">
                 <a href="#">
                  View Course
                 </a>
                </div>
            </div>
        </div>
    </div>
    
</section>
    
<%- include("partials/footer.ejs") %>
