<%- include("partials/header.ejs") %>

<section class="learn-hero">
    <div class="learn-hero-box">
        <div class="learn-hero-content">
            <h1>Unlock <span style="color: #6528F7;">Knowledge</span></h1>
            <p> From tech to non-tech select from a wide rang of course to upskill and advance your career!</p>
            <!-- <div class="hero-btn">
                <a href="/create" class="btn">Software Tools</a>
                <a href="/read" class="btn">Mentor Match</a>
                <a href="/read" class="btn">Become a mentor</a>
            </div> -->
        </div>
        <div class="learn-hero-box-img">
            <img src="images/learn.png" alt="img">
        </div>
    </div>
</section>

<section>
    <div class="courses">
        <div class="top-course-text">
            <h1>Select your course</h1>
        </div>
        <!-- <div class="grid-container-courses"> -->
                <!-- 1st -->
            <!-- <div>
                <div>
                    <img src="../public/images/python.png" alt="img">
                    <p>Python</p>
                </div>
                <div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div> -->



        <div class="container">
            <div class="courses-grid">
                <div class="course-card">
                    <div>
                        <img src="/images/python.png" alt="img"/>
                        <p>Python</p>
                    </div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="course-card">
                    <div>
                        <img src="/images/C++.png" alt="img"/>
                        <p>C++</p>
                    </div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="course-card">
                    <div>
                        <img src="/images/Java.png" alt="img"/>
                        <p>Java</p>
                    </div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="course-card">
                    <div>
                        <img src="/images/Sql.png" alt="img"/>
                        <p>Sql</p>
                    </div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="course-card">
                    <div>
                        <img src="/images/React.png" alt="img"/>
                        <p>React</p>
                    </div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="course-card">
                    <div>
                        <img src="/images/Node.png" alt="img"/>
                        <p>NodeJs</p>
                    </div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="course-card">
                    <div>
                        <img src="/images/DSA.png" alt="img"/>
                        <p>DSA</p>
                    </div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="course-card">
                    <div>
                        <img src="/images/Python.png" alt="img"/>
                        <p>Python</p>
                    </div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="course-card">
                    <div>
                        <img src="/images/C++.png" alt="img"/>
                        <p>C++</p>
                    </div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="course-card">
                    <div>
                        <img src="/images/DSA.png" alt="img"/>
                        <p>DSA</p>
                    </div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="course-card">
                    <div>
                        <img src="/images/C++.png" alt="img"/>
                        <p>C++</p>
                    </div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="course-card">
                    <div>
                        <img src="/images/React.png" alt="img"/>
                        <p>React</p>
                    </div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="course-card">
                    <div>
                        <img src="/images/Java.png" alt="img"/>
                        <p>Java</p>
                    </div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="course-card">
                    <div>
                        <img src="/images/C++.png" alt="img"/>
                        <p>C++</p>
                    </div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="course-card">
                    <div>
                        <img src="/images/Python.png" alt="img"/>
                        <p>Python</p>
                    </div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                
                
            </div>
        </div>
        </div>      
    </div>
    
</section>
    
<%- include("partials/footer.ejs") %>