<%- include("partials/header.ejs") %>

<section class="hero">
    <div class="hero-box1">
        <div class="hero-content">
            <h1>Unlock <span style="color: #6528F7;">Guidance</span></h1>
            <p>Book a session with unstoppable mentors across domains & work together to build your career!</p>
            <div class="hero-btn">
                <a href="/mentor" class="btn">Find a Mentor</a>
                <a href="#" class="btn">Mentor Match</a>
                <a href="#" class="btn">Become a mentor</a>
            </div>
        </div>
        <div class="hero-image">
             <img src="images/mentorship.png" alt="img">
        </div>
    </div>
</section>

<section class="top-mentor-section">
    <div class="top-mentor">
        <div class="top-mentor-text">
            <h1>Top Mentors</h1>
            <p>In search of excellence? Explore the highest-rated mentors as recognized by the learner community.</p>
        </div>
        
            <!-- /* From Uiverse.io by andrew-demchenk0 */  -->
        <div class="card-grid-mentor">
            <div class="card-mentor">
                <div class="card__img"><img src="images/cover.jpg" alt=""></div>
                <div class="card__avatar"><img src="images/mentor_alok.png" alt=""></div>                    
                <div class="card__title">Vishal Pandey</div>
                <div class="card__subtitle">Web Development</div>
                <div class="card__wrapper">
                    <button class="card__btn">View Profile</button>
                </div>    
            </div>

            <div class="card-mentor">
                <div class="card__img"><img src="images/cover.jpg" alt=""></div>
                <div class="card__avatar"><img src="images/mentor_alok.png" alt=""></div>                    
                <div class="card__title">Swati Kumari</div>
                <div class="card__subtitle">Web Development</div>
                <div class="card__wrapper">
                    <button class="card__btn">View Profile</button>
                </div>    
            </div>

            <div class="card-mentor">
                <div class="card__img"><img src="images/cover.jpg" alt=""></div>
                <div class="card__avatar"><img src="images/mentor_alok.png" alt=""></div>
                    <div class="card__title">Sukumar Dangar</div>
                    <div class="card__subtitle">Web Development</div>
                    <div class="card__wrapper">
                        <button class="card__btn">View Profile</button>
                    </div>    
            </div>

            <div class="card-mentor">
                <div class="card__img"><img src="images/cover.jpg" alt=""></div>
                <div class="card__avatar"><img src="images/mentor_alok.png" alt=""></div>                    
                <div class="card__title">Tanmoy Paul</div>
                <div class="card__subtitle">Web Development</div>
                <div class="card__wrapper">
                    <button class="card__btn">View Profile</button>
                </div>    
            </div>

            <div class="card-mentor">
                <div class="card__img"><img src="images/cover.jpg" alt=""></div>
                <div class="card__avatar"><img src="images/mentor_alok.png" alt=""></div>                    
                <div class="card__title">Tirtha Mukherjee</div>
                <div class="card__subtitle">Web Development</div>
                <div class="card__wrapper">
                    <button class="card__btn">View Profile</button>
                </div>    
            </div>

            <div class="card-mentor">
                <div class="card__img"><img src="images/cover.jpg" alt=""></div>
                <div class="card__avatar"><img src="images/mentor_alok.png" alt=""></div>                    
                <div class="card__title">Alok Thakur</div>
                <div class="card__subtitle">Web Development</div>
                <div class="card__wrapper">
                    <button class="card__btn">View Profile</button>
                </div>    
            </div>

            <div class="card-mentor">
                <div class="card__img"><img src="images/cover.jpg" alt=""></div>
                <div class="card__avatar"><img src="images/mentor_alok.png" alt=""></div>                    
                <div class="card__title">Krish Burnwal</div>
                <div class="card__subtitle">Web Development</div>
                <div class="card__wrapper">
                    <button class="card__btn">View Profile</button>
                </div>    
            </div>

            <div class="card-mentor browse">
                <div class="card__title">Browse our all top mentors.</div>
                <div class="card__wrapper">
                    <button class="card__btn">Browse All</button>
                </div>    
            </div>
        </div>
        
        
    </div>
</section>

<section class="mentee-reviews-section">
    <div class="mentee-review">
        <h1>Mentee Reviews</h1>
        <p>Read real stories from mentees about their transformative journey.</p>
    </div>
    <div class="testimonial-grid">
        <div class="testimonial-card">
            <div class="quote-icon">
             “
            </div>
            <p>
                Amazing Person with amazing skills and mentorship experience!! I was getting issues getting a job, but his dedicated session helped me to get my faults corrected and helped me to land a better job. Thanks a lot, Sir!
            </p>
            <a class="read-more" href="#">
             Read more <i class="fas fa-arrow-right"></i>
            </a>
            <div class="profile">
             <img alt="" height="40" src="images/reviewer1.jpg" width="40"/>
             <div class="name">
              Abhishek Sinha
             </div>
            </div>
        </div>
    
        <div class="testimonial-card">
            <div class="quote-icon">
             “
            </div>
            <p>
             I am incredibly grateful for the assistance and guidance provided by Kashish in refining my resume. His deep understanding of the industry and a keen eye for detail helped me present my skills and...
            </p>
            <a class="read-more" href="#">
             Read more <i class="fas fa-arrow-right"></i>
            </a>
            <div class="profile">
             <img alt="Profile picture of Arundhati Lohakare" height="40" src="images/reviewer2.jpg" width="40"/>
             <div class="name">
              Quaria Mallick
             </div>
            </div>
        </div>
    
        <div class="testimonial-card">
            <div class="quote-icon">
             “
            </div>
            <p>
                Rakesh is an exceptional mentor for interviews, CVs, and exam preparation for business schools. He tailors his teaching style to each student's individual needs, using personalized strategies to help them achieve their goals. Rakesh's expertise and practical tips help students feel confident and prepared, making him highly recommended.
            </p>
            <a class="read-more" href="#">
             Read more <i class="fas fa-arrow-right"></i>
            </a>
            <div class="profile">
             <img alt="Profile picture of Arundhati Lohakare" height="40" src="images/reviewer3.jpg" width="40"/>
             <div class="name">
              Ubaid Afaque
             </div>
            </div>
        </div>
    
        <div class="testimonial-card">
            <div class="quote-icon">
             “
            </div>
            <p>
                I have had the pleasure of working with Rakesh as my mentor for interview preparation, CV review, and exam preparation for business schools, and I must say that he is simply amazing! Rakesh's expertise in the field of business education is exceptional, and his ability to translate that knowledge into practical tips and tricks for students is truly outstanding. Rakesh's teaching style is patient, encouraging, and always tailored to the needs of the individual student. He takes the time to understand each student's strengths and weaknesses and uses this knowledge to develop a personalized strategy that will help them achieve their goals. Whether you are struggling with interview nerves, need help crafting the perfect CV, or want to improve your exam-taking skills, Rakesh is the mentor for you. I found Rakesh's approach to be both engaging and effective. His insights and guidance helped me to feel more confident and prepared for my interviews, and his feedback on my CV was invaluable in making it stand out to potential employers. Additionally, his tips and strategies for approaching exams were incredibly helpful and helped me to achieve my best results. Overall, I cannot recommend Rakesh highly enough. His expertise, patience, and commitment to his students make him an exceptional mentor and teacher. If you are looking for someone to help you prepare for your next business school interview, CV review, or exam, look no further than Rakesh. He is simply the best!
            </p>
            <a class="read-more" href="#">
             Read more <i class="fas fa-arrow-right"></i>
            </a>
            <div class="profile">
             <img alt="Profile picture of Arundhati Lohakare" height="40" src="images/reviewer4.jpeg" width="40"/>
             <div class="name">
              Muntaha Ashrafi
             </div>
            </div>
        </div>
        <div class="testimonial-card">
            <div class="quote-icon">
             “
            </div>
            <p>
                I highly recommend your mentorship services to anyone looking to enhance their skills, knowledge, and career prospects in tech, business, or any other field. Thank you for an excellent session!
            </p>
            <a class="read-more" href="#">
             Read more <i class="fas fa-arrow-right"></i>
            </a>
            <div class="profile">
             <img alt="" height="40" src="images/reviewer5.jpeg" width="40"/>
             <div class="name">
              Veegyat Arya
             </div>
            </div>
        </div>
    
        <div class="testimonial-card">
            <div class="quote-icon">
             “
            </div>
            <p>
                I had the incredible opportunity to be mentored by an exceptional individual who exceeded all my expectations. Their unwavering support, genuine passion, and deep expertise created a transformative mentorship experience. They listened attentively, provided valuable insights, and tailored their guidance to my specific needs, empowering me to grow both personally and professionally.
            </p>
            <a class="read-more" href="#">
             Read more <i class="fas fa-arrow-right"></i>
            </a>
            <div class="profile">
             <img alt="" height="40" src="images/reviewer6.jpg" width="40"/>
             <div class="name">
              Harsh Pandey
             </div>
            </div>
        </div>
    
        <div class="testimonial-card">
            <div class="quote-icon">
             “
            </div>
            <p>
                One of the best consulting sessions I ever had! Thank you, Rishika, for covering all my queries in a very well-structured manner, I truly loved the way you were patiently listening to all of my doubts, and covering all of them step by step with your personal experiences
            </p>
            <a class="read-more" href="#">
             Read more <i class="fas fa-arrow-right"></i>
            </a>
            <div class="profile">
             <img alt="" height="40" src="images/reviewer7.jpg" width="40"/>
             <div class="name">
              Ishan Verma
             </div>
            </div>
        </div>
    
        <div class="testimonial-card">
            <div class="quote-icon">
             “
            </div>
            <p>
                The session was very inspiring, and I gained a lot of insight into the silly mistakes I have been making when sitting for job interviews. Abhishek sir also helped me with a mock interview on a new product launch with tips at the end on how I could have done better. Overall, it was a great session and an opportunity for me to improve significantly.
            </p>
            <a class="read-more" href="#">
             Read more <i class="fas fa-arrow-right"></i>
            </a>
            <div class="profile">
             <img alt="Profile picture of Arundhati Lohakare" height="40" src="images/user" width="40"/>
             <div class="name">
              Jyotin Mondal
             </div>
            </div>
        </div>
        
    
        
    </div>
</section>

<%- include("partials/footer.ejs") %>