<%- include("partials/header.ejs") %>
        <section class="prc-container-section">
            <div class="prc-container">
                <div class="prctice-home">
                    <div class="heading-para">
                        <h1>Unlock<span style="color:#8533ff;">  Perfection</span></h1> 
                        <p>Solve easy to complex problems & get hands-on experience to
                            get hired by your dream company!
                        </p>
                    </div>
                    <div class="home-photo"><img src="/images/home-practice.jpeg"></div>
                </div>
            </div>
        </section>


        <section class="code-prctice-section">
            <div class="code-prctice-head">  
                <h1>Start <span style="color:#8533ff;"> Preparation</span></h1> 
            </div>
            <div class="prc_container_course">

                <!-- 1st -->
                <div class="card">
                    <div class="card__photo"><img src="/images/coding-practice.png" >
                        <!-- <h4>Your Preparation</h4>  -->
                     </div>
                    <div class="card__title">Web Design templates Selection</div>
                    <div class="card__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed do eiusmod.</div>
                    <div class="card__indicator"><span class="card__indicator-amount"> Get to 15 points to unlock this badge</span> 135 Works / <span class="card__indicator-percentage">90%</span></div>
                    <div class="card__progress"><progress max="100" value="0"></progress></div>
                    <div class="card__button"><button>Continue Preparation</button></div>
                </div>
                <!-- 2nd -->
                <div class="card">
                    <div class="card__photo"><img src="/images/coding-practice.png" > 
                        <!-- <h4>Your Preparation</h4>  -->
                    </div>
                    <div class="card__title">Web Design templates Selection</div>
                    <div class="card__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed do eiusmod.</div>
                    <div class="card__indicator"><span class="card__indicator-amount"> Get to 15 points to unlock this badge</span> 135 Works / <span class="card__indicator-percentage">90%</span></div>
                    <div class="card__progress"><progress max="100" value="0"></progress></div>
                    <div class="card__button"><button>Continue Preparation</button></div>
                </div>
                <!-- 3rd -->
                <div class="card">
                    <div class="card__photo"><img src="/images/coding-practice.png" > 
                        <!-- <h4>Your Preparation</h4> -->
                     </div>
                    <div class="card__title">Web Design templates Selection</div>
                    <div class="card__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed do eiusmod.</div>
                    <div class="card__indicator"><span class="card__indicator-amount"> Get to 15 points to unlock this badge</span> 135 Works / <span class="card__indicator-percentage">90%</span></div>
                    <div class="card__progress"><progress max="100" value="0"></progress></div>
                    <div class="card__button"><button>Continue Preparation</button></div>
                </div>
                <!-- 4th -->
                <div class="card">
                    <div class="card__photo"><img src="/images/coding-practice.png" > 
                        <!-- <h4>Your Preparation</h4>  -->
                    </div>
                    <div class="card__title">Web Design templates Selection</div>
                    <div class="card__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed do eiusmod.</div>
                    <div class="card__indicator"><span class="card__indicator-amount"> Get to 15 points to unlock this badge</span> 135 Works / <span class="card__indicator-percentage">90%</span></div>
                    <div class="card__progress"><progress max="100" value="0"></progress></div>
                    <div class="card__button"><button>Continue Preparation</button></div>
                </div>
                <!-- 5th -->
                <div class="card">
                    <div class="card__photo"><img src="/images/coding-practice.png" >
                         <!-- <h4>Your Preparation</h4> -->
                     </div>
                    <div class="card__title">Web Design templates Selection</div>
                    <div class="card__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed do eiusmod.</div>
                    <div class="card__indicator"><span class="card__indicator-amount"> Get to 15 points to unlock this badge</span> 135 Works / <span class="card__indicator-percentage">90%</span></div>
                    <div class="card__progress"><progress max="100" value="0"></progress></div>
                    <div class="card__button"><button>Continue Preparation</button></div>
                </div>
                <!-- 6th -->
                <div class="card">
                    <div class="card__photo"><img src="/images/coding-practice.png" > 
                        <!-- <h4>Your Preparation</h4>  -->
                    </div>
                    <div class="card__title">Web Design templates Selection</div>
                    <div class="card__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed do eiusmod.</div>
                    <div class="card__indicator"><span class="card__indicator-amount"> Get to 15 points to unlock this badge</span> 135 Works / <span class="card__indicator-percentage">90%</span></div>
                    <div class="card__progress"><progress max="100" value="0"></progress></div>
                    <div class="card__button"><button>Continue Preparation</button></div>
                </div>
                <button>Quiz Time</button>

            </div>

        </section>
<%- include("partials/footer.ejs") %>