<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice-solve</title>
    <link rel="stylesheet" href="./styel.css">
</head>
<body>
    <main>
        <section class="Prepare-section">
            <div class="Prepare-course-name">
                <span>Prepare > <span>Web Development</span></span>
            </div>
            <div class="topic-box">
                <div class="topic-box-left">
                    <!-- 1st -->
                    <div class="topic-name">
                        <h1>Playing With Charactors</h1>
                        <div class="start-para-btn">
                            <p>Easy, C (Basic), Max Score: 5, Success Rate:84.38%</p>
                            <button>Start</button>
                        </div>
                        <p>input Charactors, string and a sentence</p>
                    </div>
                    <!-- 2nd -->
                    <div class="topic-name">
                        <h1>Playing With Charactors</h1>
                         <div class="start-para-btn">
                            <p>Easy, C (Basic), Max Score: 5, Success Rate:84.38%</p>
                            <button>Start</button>
                        </div>
                        <p>input Charactors, string and a sentence</p>
                    </div>
                     <!-- 3nd -->
                     <div class="topic-name">
                        <h1>Playing With Charactors</h1>
                        <div class="start-para-btn">
                            <p>Easy, C (Basic), Max Score: 5, Success Rate:84.38%</p>
                            <button>Start</button>
                        </div>
                        <p>input Charactors, string and a sentence</p>
                    </div>
                    <!-- 4th -->
                    <div class="topic-name">
                        <h1>Playing With Charactors</h1>
                        <div class="start-para-btn">
                            <p>Easy, C (Basic), Max Score: 5, Success Rate:84.38%</p>
                            <button>Start</button>
                        </div>
                        <p>input Charactors, string and a sentence</p>
                    </div>
                    <!-- 5th -->
                    <div class="topic-name">
                        <h1>Playing With Charactors</h1>
                        <div class="start-para-btn">
                            <p>Easy, C (Basic), Max Score: 5, Success Rate:84.38%</p>
                            <button>Start</button>
                        </div>
                        <p>input Charactors, string and a sentence</p>
                    </div>
                    <!-- 6th -->
                    <div class="topic-name">
                        <h1>Playing With Charactors</h1>
                        <div class="start-para-btn">
                            <p>Easy, C (Basic), Max Score: 5, Success Rate:84.38%</p>
                            <button>Start</button>
                        </div>
                        <p>input Charactors, string and a sentence</p>
                    </div>

                </div>
                

                <div class="topic-box-right">
                    <!-- 1st -->
                    <div class="topic-status">
                        <div class="topic-status-head">
                            <h4>DIFFICULTY</h4>
                        </div>
                        <label for="sectionidA">
                            <input type="radio" name="section" id="sectionidA">Easy
                        </label>
                       <label for="sectionidB">
                            <input type="radio" name="section" id="sectionidB">Medium
                       </label>
                        <label for="sectionidC">
                            <input type="radio" name="section" id="sectionidC">Hard
                        </label>
                    </div>
                    <!-- 2nd -->
                    <div class="topic-status">
                        <div class="topic-status-head">
                            <h4>DIFFICULTY</h4>
                        </div>
                        <label for="sectionidA">
                            <input type="radio" name="section" id="sectionidA">Easy
                        </label>
                       <label for="sectionidB">
                            <input type="radio" name="section" id="sectionidB">Medium
                       </label>
                        <label for="sectionidC">
                            <input type="radio" name="section" id="sectionidC">Hard
                        </label>
                    </div>
                    <!-- 3rd -->
                    <div class="topic-status">
                        <div class="topic-status-head">
                            <h4>DIFFICULTY</h4>
                        </div>
                        <label for="sectionidA">
                            <input type="radio" name="section" id="sectionidA">Easy
                        </label>
                       <label for="sectionidB">
                            <input type="radio" name="section" id="sectionidB">Medium
                       </label>
                        <label for="sectionidC">
                            <input type="radio" name="section" id="sectionidC">Hard
                        </label>
                    </div>
                    <!-- 4th -->
                    <div class="topic-status">
                        <div class="topic-status-head">
                            <h4>DIFFICULTY</h4>
                        </div>
                        <label for="sectionidA">
                            <input type="radio" name="section" id="sectionidA">Easy
                        </label>
                       <label for="sectionidB">
                            <input type="radio" name="section" id="sectionidB">Medium
                       </label>
                        <label for="sectionidC">
                            <input type="radio" name="section" id="sectionidC">Hard
                        </label>
                    </div>
                    <!-- 5th -->
                    <div class="topic-status">
                        <div class="topic-status-head">
                            <h4>DIFFICULTY</h4>
                        </div>
                        <label for="sectionidA">
                            <input type="radio" name="section" id="sectionidA">Easy
                        </label>
                       <label for="sectionidB">
                            <input type="radio" name="section" id="sectionidB">Medium
                       </label>
                        <label for="sectionidC">
                            <input type="radio" name="section" id="sectionidC">Hard
                        </label>
                    </div>
                    <!-- 6th -->
                    <div class="topic-status">
                        <div class="topic-status-head">
                            <h4>DIFFICULTY</h4>
                        </div>
                        <label for="sectionidA">
                            <input type="radio" name="section" id="sectionidA">Easy
                        </label>
                       <label for="sectionidB">
                            <input type="radio" name="section" id="sectionidB">Medium
                       </label>
                        <label for="sectionidC">
                            <input type="radio" name="section" id="sectionidC">Hard
                        </label>
                    </div>

                </div>

            </div>
        </section>
    </main>
</body>
</html>